.div-body{
  background-color: white;
  width: 100%;
  height: 1450px;
  display: flex;
  justify-content: center;
  
}
.div-inicial {
  background-image: url(./img/papel.jpg);
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
}

.div-titulo0{
  background-image: url(./img/papel.jpg);
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}
.div-titulo{
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.datos{
  width: 60%;
  height: 100%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.nombre{
  width: 60%;
  height: 40%;
  font-size: 50px;
}
.pname{
  width: 100%;
  height: 50%;
  font-family: 'Lobster', cursive;
  color: white;
  font-family: 'Lobster', cursive;
}
.info{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-end;
}
.infu{
  width: 100%;
  height: 70%;
  margin-bottom: 20px;
  color: #455A64;
  font-size: 19px;
}
.foto{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;

}
.imgg{
  width: 70%;
  height: 50%;
  margin-top: 30px;
  margin-right: 30px;
  border-radius: 20px;
  border: 5px solid white;
}

.div-napolis0{
  background-image: url(./img/papel.jpg);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-napolis{
  width: 95%;
  height: 80%;
  background-image: url(./img/papel2.jpg);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.titulo1{
  width: 100%;
  height: 30%;
}
.contenido1{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
}
.negrita{
  width: 50%;
  height: 100%;
}
.silver{
  width: 50%;
  height: 100%;
}
.margin20{
  margin-left: 20px;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  color: white;
}
.nomargin{
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  color: #455A64;
}

.div-escuela0{
  background-image: url(./img/papel.jpg);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-escuela{
  width: 95%;
  height: 80%;
  background-image: url(./img/papel2.jpg);
  display: flex;
  flex-direction: column;
  border-radius: 20px;  
}

.div-colegio0{
  background-image: url(./img/papel.jpg);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-colegio{
  width: 95%;
  height: 80%;
  background-image: url(./img/papel2.jpg);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.div-solaning0{
  background-image: url(./img/papel.jpg);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-solaning{
  width: 95%;
  height: 80%;
  background-image: url(./img/papel2.jpg);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.div-idiomas0{
  background-image: url(./img/papel.jpg);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-idioma{
  width: 95%;
  height: 80%;
  background-image: url(./img/papel2.jpg);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}